/**
 * Metabox Tabs
 */
ul.wpseo-metabox-tabs li.active {
background-color: #EFF8FF;
}
ul.wpseo-metabox-tabs li.active, div.wpseo-tab-content {
border-color: #D1E5EE;
}
.wpseo-metabox-tabs .active a {
color: #333;
}
